.navbar {
    float: right;

}

body {
    background-color: #FFF1D6;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    padding-inline: 10px;
}

.mainimg {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.mainimg img {}

.mainimg .navbar {
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 1.5em;
    font-family: 'Aboreto', cursive;


}

.mainimg .hometext {
    position: absolute;
    bottom: 260px;
    left: 200px;
    font-size: 6.5em;
}

.content {
    display: flex;
}

.statement {
    font-size: 6em;
    /* background: #C46559; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Aboreto', cursive;
    padding-left: 30px;
}


.values {
    font-size: 1.2em;
    /* background: #C46559; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    text-align: right;
    font-family: 'Comfortaa', cursive;
}

.statement-alt {
    font-size: 6em;
    /* background: #C46559; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Aboreto', cursive;
    padding-left: 30px;
}

.values-alt {
    font-size: 1.2em;
    /* background: #C46559; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Comfortaa', cursive;

}

.abousus {
    font-size: 1.2em;
    /* background: #C46559; */
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: right;
    font-family: 'Comfortaa', cursive;
}

.values img {
    width: 100%;
}

.values .p {}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project img {
    width: 300px;
    height: 400px;
}

.project {
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 650px;
    padding: 20px;
}


.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial img {
    width: 300px;
    height: 400px;
}

.testimonial {
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 650px;
    padding: 20px;
}

.supporters p {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Aboreto', cursive;

}

.supporters .supporters-container {
    display: flex;
    justify-content: center;
}

.supporters .supporters-container img {
    max-width: 200px;

}